<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Bytez_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Features.ChatActivity"></activity>
        <activity android:name=".Features.MessageFriendsActivity" />
        <activity android:name=".Features.FriendRequestActivity" />
        <activity android:name=".Features.FriendsActivity" />
        <activity android:name=".Features.EditProfileActivity" />
        <activity android:name=".Features.ProfileActivity" />
        <activity android:name=".login.SignUp" />
        <activity android:name=".login.SuccessActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".Features.HomeActivity" />
        <activity android:name=".Features.MapActivity" />
        <activity android:name=".ReviewPackage.ReviewActivity" />
        <activity android:name=".ReviewPackage.ShowFullReviewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Features.MyReviewsActivity" />
    </application>

</manifest>